{% extends 'base.html' %}
{% block content %}
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span2">
	    <div class="span10">
	      <!--Body content-->
	    </div>
	  </div>
	</div>
	<div class="jumbotron">
  	  <div class="container">
        <h1 align="left">About</h1><br>
      </div>
  </div>
  <div class="jumbotron-minor">
      <div class="container">
        <h3>
        Do you ever get anxiety about having to go alone to Annenberg? Have you been wanting to grab a meal with a certain friend but haven't gotten around to arranging a time? Do you want to know if any of your blockmates are planning on eating dinner in your house tonight? Grab-A-Meal solves all of these problems and more! Add some friends and check your home page to see where they'll be eating today.  Or, if you already know where you'll be eating, be sure to choose the location and time to let your friends know. Planning your meals just got so much easier!
        </h3>
      </h3>
  </div>
  <div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info" role="alert">{{ message }}</div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
{% endblock %}