{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <h1>Find Friends</h1>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      Want to follow {{user}} ?
      <form action="/follow" method="post">
        <div class="form-group">
          <label for="follow">Follow</label>
          <input type="button" class="form-control" id="follow" name="follow"/>
        </div>
      </form>
      <form action="/follow" method="post">
        <div class="form-group">
            <label for="back">Back</label>
            <input type="button" href="/find" class="form-control" id="back" name="back"/>
        </div>
      </form>
    </div>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="alert alert-info" role="alert">{{ message }}</div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock %}