{% extends "base.html" %}

{% block content %}
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span2">
	      <ul class="nav nav-tabs">
		  <li><a href="/index" data-toggle="tab">Home</a></li>
		  <li><a data-toggle="tab">Tell Your Friends</a></li>
		  <li><a data-toggle="tab">Search by House</a></li>
			</ul>
	    </div>
	    <div class="span10">
	      <!--Body content-->
	    </div>
	</div>
	</div>
    <h1>Hi there, {{ user.name }}!</h1>
    {% for meal in followed_posts() %}
    <div><p>{{ meal.author.name }} is eating in <b>{{ meal.house }}</b> at <b>{{ meal.meal_time }}</b> </p></div>
    {% endfor %}
{% endblock %}
