{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <h1>Planning a meal? Tell your friends!</h1>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="/plan" method="post">
        <center>
          <div class="form-group input-lg mainselection">
            <label>House</label>
            <label>
            <select name = "house">
            {% for house in houses %}
              <option value="{{ house }}">{{ house }}</option>
            {% endfor %}
            </select>
            </label>
          </div>
           <div class="form-group input-lg">
            <label>Time</label>
            <label>
            <select name = "time">
            {% for time in times %}
              <option value="{{ time }}">{{ time }}</option>
            {% endfor %}
            </select>
            </label>
          </div>
          <button type="submit" class="btn btn-danger btn-lg">Submit</button>
        </center>
      </form>
    </div>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="alert alert-info" role="alert">{{ message }}</div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock %}
